@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom background gradient */
.bg-custom-gradient {
  background: linear-gradient(to right, #840704, #3a0101);
}


/* Custom gradient button */
.btn-gradient {
  background: linear-gradient(to right, #840704, #3a0101);
  color: white;
  transition: opacity 0.3s;
}

.btn-gradient:hover {
  opacity: 0.9;
}
